:root {
    --body-color: #444444;
    --nav-color: rgb(0, 85, 0);
    --side-nav: #010718;
    --text-color: #ffffff;
    --ul-color: rgb(0, 85, 0);
    --footer-color: rgb(0, 85, 0);
    --p-color: #ffffff;
}

body.dark {
    --body-color: rgb(191, 218, 191);
    --nav-color: rgba(0, 167, 0, 0);
    --side-nav: #000000;
    --footer-color: rgb(78, 205, 78);
    --ul-color: rgb(78, 205, 78);
    --text-color: #ffffff;
    --search-text: #010718;
    --p-color: #544309;
    --couteiner: #444444;
    --couteiner-sem-cor: none;
 
}

body {

    font-family: century gothic;
    color: #03031a;
    padding: 0;
    margin: 0 auto;
    margin-top: 100px;
    max-height: 100%;
    background-color: var(--body-color);
    max-width: 100%;
    overflow-x: hidden;
    /*arruma o html se estiver desregulado como footer*/
}

body.dark .couteiner {
    background: var(--couteiner-sem-cor);
    
}

.couteiner{

    background: rgb(68, 68, 68, 0.8);   
}


body.dark .bx-moon{
    color: var(--couteiner);
}

body.dark a{
    color: var(--couteiner);
}
body.dark .button_catalogo{
    background: rgb(68, 68, 68, 0.8);
}


body.dark .fa-instagram{
    color: var(--couteiner);
}

body.dark .fa-facebook{
    color: var(--couteiner);
}
body.dark .fa-phone-volume{
    color: var(--couteiner);
}

body.dark .fa-marker{
    color: var(--couteiner);
}

.fa-instagram{
    font-size: 20px;
}

.fa-facebook{
    font-size: 20px;
}

.fa-phone-volume{
    font-size: 20px;
}

.fa-marker{
    font-size: 24px;
    color: #fff;
}
.p2 {
    margin: auto;
    max-width: 1200px;
    color: var(--p-color);
    font-size: 35px;
   
}



p {
    margin: auto;
    max-width: 1850px;
    font-size: 28px;
    color: var(--p-color);


}

.titulo_studio {
    color: var(--p-color);
}

.fa-location-dot {
    color: var(--text-color);
}

body.dark .fa-location-dot{
    color: darkgreen;
}
.iconloc {
    color: var(--text-color);
}


nav .nav-bar {
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}


.nav-bar .nav-links {
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li {
    margin: 0 5px;
    list-style: none;
}

.nav-links li a {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before {
    opacity: 1;
}

.nav-bar .darkLight-searchBox {
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i {
    /* QUANDO VC CLICAR NO BOTÃO DE DAR MODE IRÁ MUDAR A POSIÇÃO E O DARK   */
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun {
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun {
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon {
    opacity: 0;
    pointer-events: none;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: none;
    padding: 4px;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0%;
    height: 65px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    font-size: 20px;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: #FFF;
    font-family: century gothic;
    font-weight: 900;

}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    box-shadow: none;
    padding: 4px;
    width: 100%;
    text-justify: 10px;
    color: #ffffff;
}

.fa-instagram {
    margin-left: 10px;
}

.fa-facebook {
    margin-left: 10px;
}

.fa-phone-volume {
    margin-left: 10px;
}

.links-tsunami li a {
    position: relative;

}

.links-tsunami li a::before {
    content: '';
    margin-bottom: -13px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.links-tsunami li:hover a::before {
    opacity: 1;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 120px;
    font-size: 20;

    text-decoration: none;
    color: #f7faf9;
    font-family: century gothic;
    font-weight: 100px;
}

div ul {
    color: white;
}

div a {
    text-decoration: none;
    box-shadow: none;
    color: #e4ebf5;
}

#home {
    text-decoration: none;
    color: #f7faf9;
    font-family: Times New roman, sans-serif;
    font-weight: 900;
}

#studio {
    display: flex;
    color: #f7faf9;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    font-size: 18;

}

.cadastro {
    text-decoration: none;
    color: #f7faf9;
    text-decoration-color: #ffffff;
    margin-top: 80px;
    font-size: 28px;
}

.button_catalogo{
    font-size: 20px;
    border-radius: 30px;
    background: rgb(68, 68, 68, 1);
    border: 2px solid #fff;
    color: #fff;
    margin-left: 15%;
    margin-right: 15%;
    
    
}
.catalogo {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    height: 100vh;
   
}

.artes {

    font-size: 20px;
    font-family: century gothic;
    text-align: center;
}

.nome {
    font-size: 35px;
    font-family: century gothic;
    text-align: center;

}


.flex {

    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
    margin: 1rem;
    width: calc((75.10% / 3) - 1rem);
    font-size: 15px;
    margin-top: 85px;
    height: 20%;

}

.card {
    position: relative;
    width: 350px;
    height: 380px;
    background-color: #000;
    overflow: hidden;
    border-radius: 15px;
    border: 4px solid #544309;
}

.card__image {
    height: 380px;
    width: 350px;
    object-fit: cover;
    scale: 1.30;
    transition: opacity 0.25s, scale 0.35s;
}

.card:hover .card__image {
    opacity: 0.7;
    scale: 1;
}

.card__body {
    position: absolute;
    inset: 0;
    padding: 50px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    justify-content: center;
}

.card:hover .card__body::before {
    opacity: 1;
    scale: 1;
}

.card__title {
    color: #fff;
    margin-top: 100px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.card__description {
    font-size: 25px;
    opacity: 0;
    translate: -25px;
    margin-bottom: -50px;
    color: #FFF;
    transition: opacity 0.25s, translate 0.25s;
}

.card:hover .card__description {
    opacity: 1;
    translate: 0;
}

.foto_diana_right{
    position: absolute;
    width: 400px;
    right: 30px;
    margin-right: 75%;
    border: 4px solid #544309;
    border-radius: 5%;
}

.descricao_diana{
    font-size: 20px;
    margin: auto;
    max-width: 1000px;
    margin-bottom: 200px;
    font-family: century gothic;
    text-align: center;
}

.foto_diana_left{
    position: absolute;
    width: 400px;
    right: 30px;
    margin-left: 75%;
    border: 4px solid #544309;
    border-radius: 5%;
}


.descricao_diana_left{
    font-size: 20px;
    margin: auto;
    max-width: 1000px;
    margin-bottom: 200px;
    font-family: century gothic;
    text-align: center;
}